//-
  ナビゲーションバー

nav#mainnav.navbar.navbar-light.flex-row.p-0
  button.sidebar-toggler.d-block.d-md-none
    +fa("bars", "fas")
  a(href=`${site.url.path}/`).navbar-brand.mx-5=site.short_name

//-
  パンくずリスト

nav(aria-label="breadcrumb")#breadcrumb.bg-transparent
  .container-fulid.px-1.px-lg-5
    ol.breadcrumb.bg-transparent.text-primary.my-0.mx-md-5.mx-1.py-1.px-0
      if( dirs.length > 3 )
        li.breadcrumb-item
          a(href=`${site.url.path}/`).py-1.text-primary
            +fa_fw("home","fas")
            span.sr-only
              | Top
        - let dirpl = `/`
        - for( let i = 1; i < dirs.length - 1; i++ ){               // i = 3 の場合
        -   let nowdir = dirs[i]                                    // "bar"
        -   dirpl = `${dirpl}${nowdir}/`                            // /foo/bar/
        -   let indexPage = pages.find(e => e.meta.permalink === dirpl)
        -   if( indexPage != undefined && i < dirs.length - 2 ){
        -     const title = indexPage.attributes['title-breadcrumb'] || indexPage.attributes.title
        -     if (!!title) {
              li.breadcrumb-item
                a(href=`${site.url.path}${dirpl}`).py-1.text-primary #{title}
        -     } else {
          li.breadcrumb-item
            a(href=`${site.url.path}${dirpl}`).py-1.text-primary #{nowdir}
        -     }
        -   } else if( indexPage == undefined && i < dirs.length - 2 ){
          li.breadcrumb-item(aria-current="page").text-primary #{nowdir}
        -   } else if( i == dirs.length - 2 ){
        -     const title = indexPage.attributes['title-breadcrumb'] || indexPage.attributes.title
          li.breadcrumb-item.active
            a(aria-current="page" href=`${urlPrefix}${page.meta.permalink}`).text-dark.font-weight-bold.trigger-gototop.button-like-anchor #{title ? title : nowdir}
        -   }
        - }
      else
        li.breadcrumb-item.active
          a(aria-current="page" href=`${urlPrefix}${page.meta.permalink}`).text-primary.font-weight-bold.trigger-gototop.button-like-anchor
            +fa_fw("home","fas")
              span.sr-only
                | Top