//- pug scripts 文字列で読み込まれてルートで処理することもあるのでよろしくおねがいします

block script_preset

block vals
  -
    //console.log(`${isAmp}, ${!!page}, ${!!page.meta}, ${page.meta.permalink}`)
    const dirs = page.meta.dirs

block requires
  -
    const pug_api = require("pug")
    const htmlmin = require("html-minifier").minify
    const kramed = require("kramed")
    const $$ = (require("cafy")).default
    const cheerio = require("cheerio")
    const sizeOf = require("image-size")
    const cleanCss = require("clean-css")
    const path = require("path")
    const fs = require("fs")
    const numeral = require("numeral")
    const moment = require("moment")
    moment.locale('ja')

    const updateMoment = moment(update)

    const fontawesome = require("@fortawesome/fontawesome-svg-core")
    fontawesome.library.add(
      require("@fortawesome/free-solid-svg-icons").fas,
      require("@fortawesome/free-regular-svg-icons").far,
      require("@fortawesome/free-brands-svg-icons").fab
    )
    const falibs = require('./scripts/falibs')

block messages
  -
    function messenger(type, text, fallback){
      console.log(`${type}: ${text || fallback}`.yellow)
      console.log(`in ${page.meta.permalink}`.gray)
    }
block functions
  block getTL
    -
      function getTL(val){
        let result
        eval("result = `" + val + "`")
        return result
      }

  block existFile
    -
      function existFile(file) {
          try {
              fs.statSync(file)
              return true
          } catch(e) {
              if(e.code === 'ENOENT') return false
          }
      }
