extends ./default.pug

append preset
  include ../includes/_blog_preset

append meta
  include ../includes/_blog_schema

append article_header
  div.d-flex.flex-wrap.small
    div.mr-2
      +fa_fw("clock")
      time(datetime=page.meta.mtime)=moment(page.meta.mtime).format('lll')
    +blog_badges(page)
    if(page.attributes.author)
      address.mb-0: a.d-block(href=page.attributes.author.url target="_blank" rel="noopener") Author: #{page.attributes.author.name}

block article_footer
  footer.w-100
    .d-flex.flex-wrap.my-2.bg-light
      if(pageNext) 
        a(href=`${site.url.path}${pageNext.meta.permalink}`)#next.p-3.flex-fill
          .container 次: #{pageNext.attributes.title}
      if(pagePrev)
        a(href=`${site.url.path}${pagePrev.meta.permalink}`)#prev.p-3.flex-fill
          .container 前: #{pagePrev.attributes.title}
