extends ./plain.pug
block main
  #main.padding
    .container-fluid.py-3.bg-white
      article#article_maincontent.bg-white
        block article_header
          header.w-100
            h1= page.attributes.title

        block article_body
          .mw-70em
            block article_body_inner
              if(headings.length > 2)
                #article_sidenav.my-2.p-3.bg-light
                  details
                    summary.font-weight-bold 目次
                    +toc( headings, 2, "ul", "list-unstyled ml-3 page-index")
              section.pt-2.pb-4!= main_html

        block article_footer
          footer.w-100
            .d-flex.flex-wrap.my-2.bg-light
              if(page.attributes.next)
                - const pageNext = pages.find(qpage => qpage.meta.permalink == `${page.attributes.next}`)
                  if(pageNext)
                    a(href=`${site.url.path}${page.attributes.next}`)#next.p-3.flex-fill
                      .container 次: #{pageNext.attributes.title}
              if(page.attributes.prev)
                - const pagePrev = pages.find(qpage => qpage.meta.permalink == `${page.attributes.prev}`)
                  if(pagePrev)
                    a(href=`${site.url.path}${page.attributes.prev}`)#prev.p-3.flex-fill
                      .container 前: #{pagePrev.attributes.title}