doctype
block before_script
block _script
  include ../includes/_script.pug
block _mixin
  include ../includes/_mixins.pug
block preset

html(lang=site.language)
  head
    block meta
      block must
        meta(charset="utf-8")
        meta(name="viewport", content="width=device-width, minimum-scale=1, initial-scale=1")
      block title
        title= page.attributes.title

      block thankyou_seeing_sourcecode
        //
          *
          *
          * #{package.repository.url}
          *
          *
      block canonical
        link(rel="canonical", href=page.meta.url.href)
        if(page.attributes.amp)
          link(rel="amphtml", href=`${page.meta.url.href}.amp`)
      block seo
        meta(name="author" content=site.author)
        meta(name="generator" content="maqz")
        if(page.attributes.noindex)
          meta(name="robots" content="noindex,follow")

      block description
        meta(name="description", content=page.attributes.description)

      block includes_head
        link(rel="manifest" href=`${site.url.path}/manifest.json`)
        link(rel="alternate" type="application/atom+xml" title=`${site.name}` href=`${urlPrefix}/feed.atom`)
        link(rel="alternate" type="application/rss+xml" title=`${site.name}` href=`${urlPrefix}/feed.rss`)
        link(rel="alternate" type="application/json" title=`${site.name}` href=`${urlPrefix}/feed.json`)
        include ../includes/_includes_head.pug

      block icons
        link(rel="icon", href=`${site.url.path}/favicon.ico`, type="image/vnd.microsoft.icon")
        each icon in site.icons
          link(rel="apple-touch-icon", href=`${site.url.path}${icon.path}`, sizes=icon.sizes)
          link(rel="icon", href=`${site.url.path}${icon.path}`, sizes=icon.sizes, type=icon.type)

      block theme_color
        meta(name="theme-color", content=site.theme_color.primary)

      block og
        meta(property="og:type", content="website")
        meta(property="og:title", content=`${page.attributes.title} - ${site.name}`)
        meta(property="og:description", content=page.attributes.description)
        if ( !!page.meta.thumbnail )
          meta(property="og:image", content=`${urlPrefix}${page.meta.thumbnail.dir}/${page.meta.thumbnail.base}`)
        else if ( !!site.site_card_path )
          meta(property="og:image", content=`${urlPrefix}${site.site_card_path}`)
        else
          meta(property="og:image", content=`/favicon.ico`)
        meta(property="og:url", content=page.meta.url.href)
        meta(property="og:site_name", content=(site.name))

      block twitter_card
        if ( site.social_media.twitter.card )
          if ( !!page.meta.thumbnail )
            meta(name="twitter:card", content="summary_large_image")
            meta(name="twitter:image", content=`${urlPrefix}${page.meta.thumbnail.dir}/${page.meta.thumbnail.base}`)
          else if ( !!site.site_card_path )
            meta(name="twitter:card", content="summary_large_image")
            meta(name="twitter:image", content=`${urlPrefix}${site.site_card_path}`)
          else
            meta(name="twitter:card", content="summary")
          meta(name="twitter:title", content=`${page.attributes.title} - ${site.name}`)
          meta(name="twitter:description", content=page.attributes.description)
          meta(name="twitter:site", content=site.social_media.twitter.stalk)

      block js_head

  body(class=(site.sidebar ? 'with-sidebar' : ''))
    #grid(class=(site.sidebar ? 'with-sidebar' : '')).sidebar-target
      block wo_footer
        block nav
          #nav
            include ../includes/_nav.pug

        block sidebar
          nav#sidebar
            .sidebar-inner!=sidebarHtml

        block main
          #main
            != mainHtml

      block footer
        #footer.bg-white
          #footer_wrap.py-3
            if(site.disqus)
              .container.py-3
                .h4 コメント
                #disqus_wrap
                  #disqus_thread
              hr
            .container
              .d-flex.justify-content-center.flex-wrap.small
                div © 2018 - 2019 #{site.author}

    block includes_foot
      include ../includes/_includes_foot.pug

    block js_foot
